*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

}

nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: tomato;
}


nav{
    width: 88%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.button li{
    list-style: none;
}




