*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

}

nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: tomato;
}


nav{
    width: 88%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.button li{
    list-style: none;
}

#banner{
    background: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-content .p1 {
    color: #469165;
    font-size: 16px;
    line-height: auto;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    border-radius: 30px;
    margin-bottom: 16px;
    margin: 0 auto;
}

.banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

.banner-content .p2 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    width: 700px;
    text-align: center;
    margin: 20px auto;
}

.banner-content{
    text-align: center;
    padding: 155px 341px;
}

.banner-content .head{
    margin-top: 16px;
}

.banner-content .grn{
    color: #30B868;
    margin-bottom: 16px;
}

.btn1{
    background: transparent;
    border: 2px solid white;
    padding: 14px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn1:hover{
    background-color: tomato;
}

#notes{
    padding-top: 100px;
}

.section-heading h2{
    font-size: 48px;
    margin-bottom: 30px;
    color: #001931;
}

.section-heading p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 20px;
    color: #627382;
}

.notes-container{
     width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.notes-container .notes-box{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.notes-box .notes-card{
    padding: 60px;
    max-width: 350px;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 6px 50px #0000003c ;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.notes-card img {
    width: 60px;
    height: 60px;
    padding: 12px;
    margin-bottom: 30px;
    background-color: #F95555;
    border-radius: 50%;
}

.notes-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 20px;

}

.notes-card p{
    font-size: 16px;
    color:#627382;
    line-height: 20px;
    margin: 0 auto;
    width: 270px;

}

#brain{
    margin:120px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.brain-content{
    max-width: 585px;
}

.brain-content h3{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.brain-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 685px;
}

.brain-content p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    width: 520px;
}

.brain-content .check{
    font-size: 16px;
    line-height: 40px;
    color: #001931;
    list-style: none;
}


#early .early-heading{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 131px 156px;
    margin-bottom: 120px;
}

#early .early-heading h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: #001931;
}

#early .early-heading p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

early .early-heading button{
    margin-top: 30px;
}

#footer{
    max-width: 100%;
    height: 400px;
    background-color: #001931;
    margin: 0 auto;
    
}


#footer .footer-content{
    padding: 120px 120px 164px 120px;
    display: flex;
    justify-content: space-between;
}

#footer .content p{
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

#footer .footer-content .content .social{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    align-items: center;


}

.content .social-links{

    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 15px;
}

#footer .copy-right{
    background-color: #001931;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#footer .copy-right hr{
    width: 1360px;
    margin: 0 auto;
    margin-bottom: 20px;
    
}




