*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

}

nav .menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #469165;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: tomato;
}


nav{
    width: 88%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.button li{
    list-style: none;
}

#banner{
    background: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    /* text-align:center; */
    
}

.banner-content .p1 {
    color: #469165;
    font-size: 16px;
    line-height: auto;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    border-radius: 30px;
    margin-bottom: 16px;
    margin: 0 auto;
}

.banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
}

.banner-content .p2 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    /* margin-bottom: 20px; */
    width: 700px;
    text-align: center;
    margin: 20px auto;
}

.banner-content{
    text-align: center;
    padding: 155px 341px;
}

.banner-content .head{
    margin-top: 16px;
}

.banner-content .grn{
    color: #30B868;
    margin-bottom: 16px;
}

.btn1{
    /* background-color: red; */
    background: transparent;
    border: 2px solid white;
    padding: 14px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn1:hover{
    background-color: tomato;
}







